<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xincan.transaction.system.server.system.mapper.menu.IMenuMapper">

    <resultMap id="MenuResultMap" type="com.xincan.transaction.system.server.system.entity.menu.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="params" jdbcType="VARCHAR" property="params"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="sequence" jdbcType="INTEGER" property="sequence"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="findPage" resultMap="MenuResultMap">
        select id,parent_id,menu_name,icon,path,params,level,sequence,create_time
        from menu
        <choose>
            <when test="map.sortName !=null and map.sortName!='id'">
                ORDER BY ${map.sortName} ${map.sortType}
            </when >
            <otherwise>
                ORDER BY create_time DESC
            </otherwise>
        </choose>
    </select>

</mapper>