# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
log/
logs/
transaction-logs/
mvnw
mvnw.cmd
src/main/java/META-INF/
