<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xincan.transaction.server.system.mapper.IRoleMapper">

    <resultMap id="BaseResultMap" type="com.xincan.transaction.server.system.entity.Role">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <insert id="save" parameterType="com.xincan.transaction.server.system.entity.Role">
        insert into role (id, role, status, description, create_time)
        values (#{id}, #{role}, #{status}, #{description}, #{createTime})
    </insert>

</mapper>
