<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xincan.transaction.order.server.system.mapper.ITenantDatasourceMapper">

    <resultMap id="TenantDatasourceResultMap" type="com.xincan.transaction.order.server.system.entity.TenantDatasource">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="tenant_name" jdbcType="VARCHAR" property="tenantName"/>
        <result column="datasource_url" jdbcType="VARCHAR" property="datasourceUrl"/>
        <result column="datasource_username" jdbcType="VARCHAR" property="datasourceUsername"/>
        <result column="datasource_password" jdbcType="VARCHAR" property="datasourcePassword"/>
        <result column="datasource_driver" jdbcType="VARCHAR" property="datasourceDriver"/>
        <result column="datasource_type" jdbcType="VARCHAR" property="datasourceType"/>
    </resultMap>

    <!-- 查询所有租户数据源信息 返回TenantDatasource对象 -->
    <select id="findAll" resultMap="TenantDatasourceResultMap">
        select
        id,
        tenant_name,
        datasource_url,
        datasource_username,
        datasource_password,
        datasource_driver,
        datasource_type
        FROM tenant_datasource
        where 1=1
        <if test="map.id != null and map.id != ''">and id = #{map.id}</if>
        <if test="map.tenantName != null and map.tenantName != ''">AND tenant_name like '${map.tenantName}%'</if>
    </select>

</mapper>
