<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xincan.transaction.order.server.system.mapper.IUserMapper">

    <resultMap id="BaseResultMap" type="com.xincan.transaction.order.server.system.entity.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <!-- 查询所有用户信息 返回user对象 -->
    <select id="findAll" resultMap="BaseResultMap">
        select
        id,
        name,
        age,
        sex,
        create_time
        FROM user
        where 1=1
        <if test="map.id != null and map.id != ''">and id = #{map.id}</if>
        <if test="map.name != null and map.name != ''">AND name like '${map.name}%'</if>
        <if test="map.sex != null and map.sex != ''">and sex = #{map.sex}</if>
        <choose>
            <when test="map.sortName !=null and map.sortName!='id'">
                ORDER BY ${map.sortName} ${map.sortOrder}
            </when >
            <otherwise>
                ORDER BY create_time DESC
            </otherwise>
        </choose>
    </select>

</mapper>
